.main-bg{
  background-color:#8bb8df;
}

.title{
  font-size: 150px;
}

.login{
  width:50%;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
}

.main-logo{
  width: 80%;
  margin:10%;
  transition-property: transform;
  transition-duration: 1s;
  border-radius: 50px;
}

.main-logo:hover{
opacity: 1;
-moz-transform: rotate(360deg);
-webkit-transform: rotate(360deg);
-o-transform: rotate(360deg) ;
transform:rotate(360deg);
transition-property: transform;
transition-duration: 1s;
z-index: 1000;

}
.center{
  margin-left: 40%;
  margin-right: 40%;
  width: 20%;
  text-align: center;
}

.logo-glyph{
	font-size:100px;
	margin-top:20px;
}

.playground{
	position:absolute;
	z-index:10000;
	height:90%;
	width:79%;
	background-color:white;
}

.text-default{

}

.text{

}

.text-big{
    font-size: 50px;
}
.modal-title{
    font-size: 50px;
}

.mega-input{
  font-size:100px;
  width: 100px;
}

.vericaltext{
    width:1px;
    word-wrap: break-word;
    font-family: monospace; /* this is just for good looks */
}
